.container{

width:min(1280px,92%);

margin:auto;

}

.section{

padding:100px 0;

}

.grid{

display:grid;

gap:30px;

}

.grid-2{

grid-template-columns:repeat(2,1fr);

}

.grid-3{

grid-template-columns:repeat(3,1fr);

}

.grid-4{

grid-template-columns:repeat(4,1fr);

}